
            body{
                background-color: #BDD5EA;
            }
            nav {
                text-align: center;
                padding-top: 3px;
            }
                nav a{
                font-family: arial;
                color: #495867;
                font-size: 24px;
                text-decoration: none;
                font-weight: bold;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;  
                display: inline-block;
                border: 2px solid navy;
            }
            nav a:link{
                background-color: white;
                
            }

            nav a:hover{
            background-color: rgba(77, 83, 85, 0.194);
            box-shadow: 2px 2px 0px navy;
            transform: translate(-2px,-2px);
            }
            h1{text-align: center; color: #495867;}
